@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #333;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 5px 60px; 
    background-color: #faf3ea;
    font-size: 1rem;
    height: 7rem;
    z-index: 10;
    position: sticky;
}

.nav-header, .header-button-container {
    flex: 1 1 0;
}

.nav-header {
    display: flex;
    justify-content: flex-start;
}

.nav-header ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-header ul li a{
    color: #401E0A;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.1s ease-out;
}

.nav-header ul li a:hover {
    color: rgb(167, 101, 27);
}

.nav-header ul li a:active {
    color: #311801; 
    text-shadow: 0 0 0.6px #623001;
    transform: translateY(2px);
}

#logoRecantodaPedra {
    width: 6rem;
    height: auto;
}

.header-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#botaoContato {
    padding: 10px 28px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #faf3ea;
    background-color: #401E0A;
    border: none;
    border-radius: 10rem;
    transition: all 0.2s ease-out
}

#botaoContato:hover {
    background-color: #613606;
    cursor: pointer;
}

#botaoContato:active {
    background-color: #1b0e01; 
    border-color: #1b0e01; 
    transform: translateY(2px);
}

.slides_container {
    position: relative;
    width: 100%;
    height: 800px;
    max-height: 700px;
    overflow: hidden;
    background-color: #1b0e01;
}

.slides_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /*Garante que a imagem preencha o espaço sem distorcer*/
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.slides_container img.slide-active {
    opacity: 1;
}

.inicio{
    background-color: #faf3ea;
    padding: 2.5rem;
}

.inicio h1 {
    font-size: 2.5rem;
    color: #401E0A;
    text-align: center;
    padding: 10px;
}

.inicio p {
    font-size: 1.2rem;
    color: #401E0A;
    line-height: 1; /* Aumenta a altura da linha para melhor legibilidade */
    
    /* Define a largura máxima do bloco do parágrafo */
    max-width: 50rem;
    text-align: center;
    /* A MÁGICA PARA CENTRALIZAR O BLOCO:
      - margin-top: 1.2rem (espaço entre os parágrafos)
      - margin-left/right: auto (distribui o espaço horizontal igualmente, centrando o bloco)
    */
    margin: 1.2rem auto 0;
}